NAUKRI_EMAIL=
NAUKRI_PASSWORD=
MY_NAME=
MY_PHONE=
CURRENT_CTC=8
EXPECTED_CTC=12
EXPERIENCE_YEARS=3
NOTICE_PERIOD=Immediate
CURRENT_LOCATION=Indore
WILLING_TO_RELOCATE=Yes
MAX_APPLY=40
HEADLESS=false
RESUME_PATH=resume.pdf
